<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= Book.title%></title>
    <link rel="stylesheet" href="/../css/simple-grid.min.css">
    <link rel="stylesheet" href="/../css/main.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="/../js/main.js"></script>
  </head>
  <body>
    <%- include navbar -%>

    <section class="book">
        <div class="col-12">
          <div class="row">
            <div class="container">
              <h2><%= Book.title %></h2>
              <h4>by: <%= Book.author%></h4>
              <h4>owner: <%= Book.owner.name%></h4>
              <h4>borrowed by: <%= Book.borrower%></h4>
              <p class="book-description"><%= Book.description %></p>
            </div> </div>
          <div class="row">
            <col-12>
              <div class="book-actions-container">
                <!-- need to fix this -->
                <div class="container">
                  <% if(Book.owner._id.toString() !== User._id.toString() && !Book.borrower && Book.group) { %>
                    <form action="/book/request-borrow/<%= Book._id%>/<%= Book.group._id%>/<%= Book.owner._id%>" method="post">
                      <input type="submit" class="btn" value="Request to borrow">
                    </form>
                  <% } %>
                  <% if(Book.borrower == User.username) { %>
                      <form action="/book/return/<%= Book._id%>/<%= Book.owner._id%>/<%= User._id%>" method="post">
                        <input type="submit" class="btn" value="Return book">
                      </form>
                  <% } %>
                </div>
              </div>
            </col-12>
          </div>
        </div>
    </section>
  </body>
</html>
