<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GroupLibrary Dashboard</title>

    <link rel="stylesheet" href="../css/simple-grid.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="../js/main.js"></script>
  </head>
  <body>
    <%- include navbar -%>

    <section class="dashboard">
      <div class="row">
        <div class="col-12">
          <div class="dash-container">
            <div class="row dash-row">
              <div class="col-2 dash-item">
                <h2>Groups</h2>
                <div class="dash-groups-container">
                  <ul>
                    <% if(User.groups.length > 0) { %>
                      <% User.groups.forEach(function(group) { %>
                        <li class="dash-group-item"><a href="/group/<%= group._id %>"><%= group.name %></a></li>
                        <% }) %>
                        <% }else {%>
                          <li><p>You don't have any groups, create or join one to get started</p></li>
                          <% }%>
                  </ul>
                </div>

                <button class="btn new-group-btn">New Group</button>
              </div>

              <div  class="col-4 dash-item">
                <h2>Your Collection</h2>
                <div class="dash-collection-container">
                  <ul>
                    <% if(User.books.length > 0) { %>
                      <% User.books.forEach(function(book) { %>
                        <li class="dash-collection-book-info">
                          <a href="/book/<%= book._id%>/<%= book.owner._id%>"><%= book.title%> by: <%= book.author%></a>
                          <div class="collection-book-info-container">
                              <% if(book.group) { %>
                                <p>
                                  group: <%= book.group.name%>
                                </p>
                                <% }%>
                                <% if(book.borrower) {%>
                                  <p>borrowed by: <%= book.borrower %></p>
                                <% }else if(!book.borrower && book.group) {%>
                                  <form action="/remove-from-group/<%= book._id %>/<%= book.group.id %>" method="post">
                                    <input type="submit" class="btn btn-decline" value="Remove from group">
                                  </form>
                                <% } %>
                          </div>
                        </li>
                          <% })%>
                          <% }else {%>
                            <li>
                              <p>You don't have any books in your collection</p>
                            </li>
                            <% } %>
                          </ul>
                        </div>

                  <div class="collection-btn-container">
                    <button class="btn add-collection-btn">Add a book</button>
                    <button class="btn remove-collection-btn btn-decline">Remove a book</button>
                  </div>
              </div>

              <div class="col-3 dash-item">
                <h2>Borrowed Books</h2>
                <div class="borrowed-books-container">
                </div>
              </div>

              <div class="col-3 dash-item">
                <h2>Notifications</h2>

                <div class="dash-notifications-container">
                  <ul>
                    <% User.invites.forEach(function(invite) {%>
                    <li class="notification-item">
                      <div class="invite-container">
                        <p>Group Invitation</p>
                        <h3 class="invite-name"><%= invite.name%></h3>

                        <div class="invite-btn-container">
                          <form action="/group-invite/accept/<%= invite._id%>" method="post">
                            <input type="submit" class="btn btn-accept" value="Accept">
                          </form>
                          <form action="/group-invite/decline/<%= invite._id%>" method="post">
                            <input type="submit" class="btn btn-decline" value="Decline">
                          </form>
                        </div>
                      </div>
                    </li>
                    <% })%>

                    <% if(User.borrowRequests.length > 0) { %>
                    <% User.borrowRequests.forEach(function(request) { %>
                      <li class="notification-item">
                        <div class="borrow-request-container">
                          <p>Borrow Request</p>
                          <div class="borrow-request-btn-container">
                            <form action="/borrow-request/accept/<%= request.book.id%>/<%= request._id%>/<%= request.user._id%>" method="post">
                              <h4><%= request.book.title %> by: <%= request.book.author%></h4>
                              <h4>from: <%= request.user.username %></h4>

                              <input class="btn btn-accept" type="submit" value="Accept">
                            </form>

                            <form action="/borrow-request/decline/<%= request._id%>" method="post">
                              <input class="btn btn-decline" type="submit" value="Decline">
                            </form>
                          </div>
                        </div>
                      </li>
                    <% }) %>
                    <% } %>
                  </ul>

                  <ul>
                    <% User.bookReturns.forEach(function(returnReq) { %>
                      <li class="notification-item">
                        <div class="return-container">
                          <h4>Book Return from: <%= returnReq.borrower.username%></h4>
                          <h5><%= returnReq.book.title%> by: <%= returnReq.book.author%></h5>
                          <div class="return-btn-container">
                            <form action="/return-request/approve/<%= returnReq.book._id%>/<%= returnReq.borrower._id%>/<%= returnReq._id%>" method="post">
                              <input class="btn btn-accept" type="submit" value="Approve return">
                            </form>
                            <form action="/return-request/reject/<%= returnReq._id%>" method="post">
                              <input class="btn btn-decline" type="submit" value="Reject return">
                            </form>
                          </div>
                        </div>
                      </li>
                    <% }) %>
                  </ul>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="create-group">
      <div class="create-group-box">
        <form action="/group/new" method="post">
          <input type="text" name="name" placeholder="name">
          <input class="btn" type="button" value="cancel">
          <input class="btn" type="submit" value="create group">
        </form>
      </div>
    </div>

    <div class="add-to-collection">
      <div class="add-to-collection-box">
        <form action="/collection/add" method="post">
          <input type="text" name="title" placeholder="title">
          <input type="text" name="author" placeholder="author">
          <input type="text" name="description" placeholder="description (optional)">
          <input class="btn" type="button" value="cancel">
          <input class="btn" type="submit" value="Add book">
        </form>
      </div>
    </div>

    <div class="remove-from-collection">
      <div class="remove-from-collection-container">
        <ul>
          <% User.books.forEach(function(book) {%>
              <% if(!book.group && !book.borrower) { %>
                <li>
                  <form action="/collection/remove/<%= book._id%>" method="post">
                    <h4><%= book.title%> by: <%= book.author%></h4>
                    <input type="submit" class="btn btn-decline" value="Remove">
                  </form>
                </li>
              <% } %>
          <% })%>
        </ul>
      </div>
      <button type="button" class="btn btn-decline btn-cancel-remove-collection">Cancel</button>
    </div>

  </body>
</html>
