<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>GroupLibrary Dashboard</title>

    <link rel="stylesheet" href="../css/simple-grid.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="../js/main.js"></script>
  </head>
  <body>
    <%- include navbar -%>

    <section class="dashboard">
      <div class="row">
        <div class="col-12">
          <div class="dash-container">
            <div class="row dash-row">
              <div overflow="auto" class="col-2 dash-item">
                <h2>Groups</h2>
                <ul>
                  <% if(User.groups.length > 0) { %>
                    <% User.groups.forEach(function(group) { %>
                    <li><a href="/group/<%= group._id %>"><%= group.name %></a></li>
                    <% }) %>
                  <% }else {%>
                  <li><p>You don't have any groups, create or join one to get started</p></li>
                  <% }%>
                </ul>

                <button class="btn new-group-btn">New Group</button>
              </div>

              <div overflow="auto" class="col-4 dash-item">
                <h2>Your Collection</h2>
                <ul>
                  <% if(User.books.length > 0) { %>
                    <% User.books.forEach(function(book) { %>
                    <li><a href="/book/<%= book._id%>/<%= book.owner._id%>"><%= book.title%> by: <%= book.author%></a></li>
                    <% })%>
                  <% }else {%>
                    <li>
                      <p>You don't have any books in your collection</p>
                    </li>
                  <% } %>
                </ul>

                <button class="btn add-collection-btn">Add a book</button>

              </div>

              <div class="col-3 dash-item">
                <h2>Borrowed Books</h2>
              </div>

              <div class="col-3 dash-item">
                <h2>Notifications</h2>

                <ul>
                  <% User.invites.forEach(function(invite) {%>
                  <li>
                    <div class="invite-container">
                      <p>Group Invitation</p>
                      <h3 class="invite-name"><%= invite.name%></h3>

                      <div class="invite-btn-container">
                        <form action="/accept-group-invite/<%= invite._id%>" method="post">
                          <input type="submit" class="btn" value="Accept">
                        </form>
                        <form action="/decline-group-invite/<%= invite._id%>" method="post">
                          <input type="submit" class="btn" value="Decline">
                        </form>
                      </div>
                    </div>
                  </li>
                  <% })%>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="create-group">
      <div class="create-group-box">
        <form action="/new-group" method="post">
          <input type="text" name="name" placeholder="name">
          <input class="btn" type="button" value="cancel">
          <input class="btn" type="submit" value="create group">
        </form>
      </div>
    </div>

    <div class="add-to-collection">
      <div class="add-to-collection-box">
        <form action="/add-book-to-collection" method="post">
          <input type="text" name="title" placeholder="title">
          <input type="text" name="author" placeholder="author">
          <input type="text" name="description" placeholder="description (optional)">
          <input class="btn" type="button" value="cancel">
          <input class="btn" type="submit" value="Add book">
        </form>
      </div>
    </div>

  </body>
</html>
