<h1>dashboard</h1>

<h2>create group</h2>
<form action="/new-group" method="post">
  <input type="text" name="name">
  <input type="submit">
</form>

<h2>add book to collection</h2>
<form action="/add-book-to-collection" method="post">
  title
  <input type="text" name="title">
  author
  <input type="text" name="author">
  description
  <input type="text" name="description">
  <input type="submit">
</form>

<h2>Groups</h2>

<ul>
<% User.groups.forEach(function(group) { %>
  <li><a href="/group/<%=group._id %>"><%= group.name %></a></li>
<% })%>


<h2>invites</h2>
<ul>
  <% User.invites.forEach(function(invite) {%>
  <li>
    <form action="/accept-group-invite/<%= invite._id%>", method="post">
      <h3><%= invite.name%></h3>
      <input type="submit" value="accept invite">
    </form>

    <form action="/decline-group-invite/<%= invite._id%>", method="post">
      <input type="submit" value="decline invite">
    </form>
  </li>
  <% }) %>
  
</ul>

<h2>collection</h2>
<ul>
  <% User.books.forEach(function(book) {%>
  <li>
    <a href="/book/<%= book._id%>/<%= book.owner._id%>"><%= book.title%></a>
    <form action="/remove-book-from-collection/<%= book._id%>" method="post">
      <input type="submit" value="remove">
    </form>
  </li>
  <% }) %>
</ul>

