<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= Group.name %> - GroupLibrary</title>
    <link rel="stylesheet" href="../css/simple-grid.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script defer src="../js/main.js"></script>
  </head>
  <body>
    <%- include navbar -%>

    <section class="group">
      <div class="row">
        <div class="col-12">
          <div class="group-container">
            <div class="row">
              <div class="col-12">
                <div class="group-header-container">
                  <h2><%= Group.name%></h2>
                  <p>Members: <%= Group.users.length%></p>
                  <p>Available books: <%= Group.books.length%></p>
                  <form action="/send-group-invite/<%= Group._id%>" method="post">
                    <input type="text" name="username" placeholder="username">
                    <input class="btn" type="submit" value="Invite user">
                  </form>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="col-2 group-dash">
                  <div overflow="auto" class="group-users-list">
                    <h3>Members</h3>
                    <ul>
                    <% Group.users.forEach(function(user) { %>
                      <li><a class="group-users-username" href="#"><%= user.username%></a></li>
                    <% }) %>
                    </ul>
                  </div>
                </div>

                <div class="col-8 group-dash">
                  <div class="group-books-available">
                    <h3>Available Books</h3>
                    <div class="group-books-container">
                      <ul>
                        <% Group.books.forEach(function(book) { %>
                          <%= book %>
                          <% if(!book.borrower) {  %>
                            <li><a href="/book/<%= book._id%>/<%= book.owner._id%>"><%= book.title %> by: <%= book.author %></a></li>
                            <% } %>
                            <% }) %>
                          </ul>
                        </div>
                    <button type="button" name="button" class="btn add-book-to-group-btn"> Add a a book to the group</button>
                  </div>
                </div>

                <div class="col-2 group-dash">
                  <h3>Borrowed Books</h3>
                  <ul>
                      <% Group.books.forEach(function(book) { %>
                      <% if(book.borrower) {  %>
                        <li><a href="#"><%= book.title %> by: <%= book.author %></a></li>
                        <% } %>
                        <% }) %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="add-book-to-group-list">
      <ul>
        <% User.books.forEach(function(book) {%>
          <% if(!book.borrower && !book.group) { %>
            <li>
              <form action="/add-book-to-group/<%= book._id%>/<%= Group._id%>" method="post">
                <a href="#"><%= book.title %> by: <%= book.author%></a>
                <input class="btn" type="submit" value="Add book">
              </form>
            </li>
          <% } %>
        <% })%>
      </ul>
      <button type="button" name="button" class="add-book-to-group-cancel-btn btn">Cancel</button>
    </div>

  </body>
</html>
