<h1>group view</h1>

<h2><%= Group.name%></h2>

<form action="/leave-group/<%= Group._id %>" method="post">
  leave group
  <input type="submit">
</form>

<form action="/send-group-invite/<%= Group._id%>" method="post">
  send invite
  <input type="text" name="username">
  <input type="submit">
</form>

<h3>Collection</h3>
<ul>
  <% User.books.forEach(function(book) {%>
  <% if(!book.group) { %>
  <li>
    <a href="/book/<%= book._id%>/<%= book.owner._id%>"><%= book.title%></a>
    <form action="/add-book-to-group/<%= book._id%>/<%= Group._id %>" method="post">
      <input type="submit" value="add book to group">
    </form>
  </li>
  <% }%>
  <% }) %>
</ul>

<h3>Group collection</h3>

<ul>
  <% Group.books.forEach(function(book) {%>
  <li>
    <a href="/book/<%= book._id%>/<%= book.owner._id%>"><%= book.title%></a>
    <form action="/remove-book-from-group/<%= book._id%>/<%= Group._id%>" method="post">
      <input type="submit" value="remove from group">
    </form>
  </li>
  <% })%>
</ul>
